:root {
    --primary-color: #0D1B2A;
    --accent-color: #B08953;
    --link-color: #624c2e;
    --background-color: #f8f9fa;
    --heading-color: #4d688a;
    --text-color: #1B263B;
}

body {
    font-family: 'Verdana', 'Tahoma', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}

/* Text */
h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500;
}
h2 {
    font-size: 1.5rem;
    color: var(--heading-color);
    font-weight: 600;
}
h3 {
    font-size: 1rem;
    font-weight: 700;
}
p {
    font-size: 1rem;
}

/* Globale Elemente */
a {
    color: var(--link-color);
}

a:hover {
    color: var(--heading-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:focus-visible {
    outline: 3px solid var(--primary-color);
    outline-offset: 4px;
}